.all-ayah_div {
  //   border: 1px solid;
  position: relative;
  width: calc(100% - 454px - 15px - 15px - 15px);
  // max-height: 364.8px;
  height: 100vh;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  background-color: $white;
  select#ayah-count {
    position: relative;
    top: 0;
    left: 0;
    font-size: 1.1rem;
    background-color: $trans-sec;
    border-radius: 20px;
    border: 0;
    opacity: 0;
  }
  .wraper{
    position: relative;
  }
  .surah-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    & > div {
      flex: 1;
    }
    
    .revulation-place {
      font-size: 1rem;
      color: rgba(128, 128, 128, 0.837);
      span {
        color: $primary;
      }
    }
    
    .name {
      h2 {
        font-size: 1.2rem;
        font-weight: 500;
        color: $primary;
        position: relative;
        top: -5px;
      }
      p {
        font-size: 0.9rem;
        color: rgba(128, 128, 128, 0.837);
      }
    }
    
    .ayah-count {
      color: rgba(128, 128, 128, 0.837);
      span {
        color: $primary;
      }
    }
  }
  [for=ayah-count]{
    color: $third;
    font-size: 1.1rem;
    opacity: 0;
    margin-right: 5px;
  }
  .bismillah {
    display: none;
    font-size: 50px;
    width: 256.078px;
    height: 57px;
    margin: 0 auto;
    font-family: bismillah;
    text-align: center;
    color: lighten($color: $primary, $amount: 10%);
    // padding: 25px 0;
    // background-color: $white;
    background-position: center center;
    background-size: cover;
    z-index: 10;
  }
  .all-play-btn {
    display: none;
    align-items: center;
    justify-content: center;
    color: $white;
    position: absolute;
    top: 25px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $primary;
  }
  .ayahs {
    position: relative;
    width: 100%;
    margin-top: 10px;
    // height: 100%;
    height: 100%;
    max-height: 78vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .ayah {
    @include transition_all(0.3s);
    position: relative;
    margin: 10px 5px;
    padding: 30px 20px;
    border: 1px solid lighten($color: $secondry, $amount: 50%);
    border-radius: 10px;
    .loader {
      top: 13px;
      right: 80px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      display: none;
    }
    &:hover {
      box-shadow: 1px 1px 3px $secondry, -1px -1px 3px $secondry;
    }
    &-number {
      position: absolute;
      top: 15px;
      right: 20px;
      padding: 5px 10px;
      background-color: $trans-black;
      color: lighten($secondry, 40%);
    }
  }

  .btns {
    .btn {
      @include transition_all;
      position: relative;
      display: inline;
      padding: 5px 10px;
      border-radius: 25px;
      background-color: rgba(128, 128, 128, 0.137);
      margin: 5px 5px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
    .pause {
      display: none;
    }
  }

  .arabic-text {
    width: 100%;
    clear: right;
    direction: rtl;
    margin-bottom: 20px;
    margin-top: 10px;
    p {
      display: inline;
      font-size: 2.8rem;
      margin: 10px 0px;
    }
    span {
      position: relative;
      @include transition_all;
      display: inline-block;
      cursor: pointer;
      font-size: 1.7rem;
      margin-right: 10px;
      font-weight: 600;

      &::before, &::after {
        @include transition_all;
        content: attr(data-trans_en);
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem;
        width: max-content;
        max-width: 150px;
        height: min-content;
        padding: 10px;
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        visibility: hidden;
        color: $white;
        border-radius: 10px;
        transform: translate((-60px, -50px));
        opacity: 0;
        z-index: 5;
      }
      &::after{
        content: attr(data-trans_bn);
        transform: translate((-60px, 40px));
      }
      &.verse_number::before , &.verse_number::after{
        content: attr(data-key);
        height: min-content;
        font-weight: 400;
        top: 20px;
        left: 50px;
      }
      &.verse_number::after{
        top: 5px;
      }

      &:hover {
        color: $primary;

        &::before {
          opacity: 1;
          transform: translate(-60px, -85px);
          visibility: visible;
        }
        &::after{
          opacity: 1;
          transform: translate(-60px, 60px);
          visibility: visible;
        }
      }

      &.verse_number {
        font-weight: 400;
      }
    }
  }

  .bangla-text,
  .english-text {
    
    border-left: 3px solid $primary;
    margin: 10px 0px;

    h4 {
      font-size: 1.2rem;
      color: $primary;
      font-weight: 500;
      display: inline-block;
      padding: 2px 10px;
      border-bottom: 2px solid $primary;
    }
    p {
      @include transition_all;
      font-size: 1.1rem;
      padding: 10px 10px;
    }

    margin-left: 50px;
  }

  .english-text {
    span {
      @include transition_all;
      position: relative;
      &::before {
        @include transition_all;
        content: attr(data-trans_ar);
        position: absolute;
        top: 0;
        left: 0;
        width: max-content;
        max-width: 120px;
        height: min-content;
        padding: 10px;
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        visibility: hidden;
        color: $white;
        border-radius: 10px;
        transform: translate((0px, -50px));
        opacity: 0;
        z-index: 5;
        font-size: 1.3rem;
      }

      &:hover {
        color: $primary;
        &::before {
          transform: translate(0px, -65px);
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .social-icons {
    position: absolute;
    bottom: 25px;
    left: 15px;
    .icons {
      @include transition_all;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      padding: 5px;
      background-color: $trans-sec;
      border-radius: 50%;
      z-index: 6;
      &.bookmarked {
        background-color: $primary;

        color: $white;
      }
      &:hover {
        color: white;
        background-color: $primary;
        &.bookmarked {
          color: white;
        }
      }
      a {
        z-index: 1;
      }
      i {
        z-index: 1;
      }
    }
  }
}
